{
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "tailwindStylesheet": "./resources/css/app.css",
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ]
}
